@media (max-width: 426px) {
  /* Mobile Styles */
  #main-elem {
    flex-wrap: wrap;
    flex-direction: column;
  }
  #Main-img {
    width: 100%;

  }


  .main-nav a {
    font-size: 2.5em;
    padding-bottom: 40px;
    padding-right: 35px;
    color: white;


  }

  .main-nav a:focus {
    color: #F2E8CF;
  }
  .menu-button:focus {
    color: #F2E8CF;
  }

}


@media (min-width:426px) {
  /* Larger screen styles */
  .main-nav a:hover {
    color: #F2E8CF;
  }
  #about-us {
    background-color: #1e4a07a0;
    margin: 2px;
    padding: 5px;
  }


  .menu-button:hover {
    color: #F2E8CF;
  }

  .hidden {
    display: none;
    transition-duration: 0.75s;
  }
  ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  #main-elem {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .small-img {

    transition: border 0.75s;

  }
  #Main-img {
    width: 300px;
    min-width: 300px;
    max-height: 350px;
  }

  .small-img:hover {
    border: #1e4a0791 solid 10px;
  }
  .main-nav a {
    text-decoration: underline;
    color: whitesmoke;
    font-size: 3em;
    font-weight: bolder;
  }

}


/* Universal styles */
body {
  background-color: #F2E8CF;
  font-family: sans-serif;

}
#banner-elem {
  background-image: url("images/sheep-pic.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 400px;
  width: 100%;
  border: #1f4a07 solid 2px;
}
.menu-button {
  text-decoration: underline;
  color: whitesmoke;
  font-size: 1.5em;
  font-weight: bolder;
  border: none;
  background-color: #1f4a07;
  margin: 0 auto;
  display: block;
  font-family: "Uncial Antiqua", sans-serif;
  cursor: pointer;
}
.hidden {
  display: none;

}
.small-img {
  width: 50px;
  height: 50px;
  margin: 8px;
  border: #1f4a07 solid 10px;
}
#Main-img {
  display: block;
  height: auto;
  border: #1f4a07 solid 5px;
}
#motto {
  text-align: center;
  color: whitesmoke;
  background-color: #1e4a0785;
  font-family: "Uncial Antiqua", sans-serif;
}
h1 {
  font-family: "Uncial Antiqua", sans-serif;
}
h2 {
  font-family: "Uncial Antiqua", sans-serif;
}
#logo {
  text-align: center;
  color: #1f4a07;
  text-shadow: 2px 2px 2px black;
  font-weight: bolder;
  font-size: 3.5em;
  text-decoration: underline;
}
#about-us {
  background-color: #1e4a07a0;
  box-shadow: 10px, 10px, 10px, black;
}
ul {
  list-style: none;
  font-family: "Uncial Antiqua", sans-serif;
}

#form-elem {
  background-color: #0000004f;
  text-align: center;
  display: block;
  margin: 0 auto;
}
form {
  display: flex;
  flex-direction: column;
  background-color: #0000007c;
  align-self: center;

}
#name-box {
  margin: 10px;
  width: 75px;
  align-self: center;
}
#email-box {
  margin: 10px;
  width: 90px;
  align-self: center;


}
#textbox {
  margin: 10px;
  width: 200px;
  align-self: center;

}
.form-submit-button {
  width: 75px;
  align-self: center;
  background-color: #1f4a07;
  color: #F2E8CF;
  box-shadow: black 2px, ;
  margin-bottom: 10px;
}
.input-box {
  background-color: #F2E8CF;
  border: #1f4a07 5px solid;
  color: #1f4a07;
}
.input-box:focus {
  background-color: #1f4a07;
  color: #F2E8CF;
}
#footer {
  background-color: #1e4a07c9;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#copyright {
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: smaller;
  padding: 5px;
  color: white;
}

.success-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 50px;
  text-align: center;


}

.success-heading {
  font-size: 3em;

}

.shop-elem{
display: flex;
flex-wrap: wrap;
justify-content: center;
text-align: center;
background-color: #1e4a078d;

}
.shop-item{
  max-width: 300px;
  max-height: 350px;
  margin: 25px;
  border: #1f4a07 groove 5px;
  background-color: #1f4a07;
  color: antiquewhite;
  transition: all 0.75s;

}
.shop-item:hover{
  border: #1e4a0780 groove 10px;
  color: #F2E8CF
}
.shop-img{
  max-width: 250px;
  max-height: 300px;
}
